.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.24);
}

.container {
  position: absolute;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  right: -500px;
  height: 100%;
  background-color: #f5f5ef;
  overflow: auto;
  width: 400px;
  animation: slide-in-anim 300ms forwards;
  z-index: 5;
  overflow-y: scroll;
}

.product-image,
.product-name,
.count {
  flex-basis: 0;
  flex-grow: 1;
}

.close {
  align-self: flex-end;
  min-height: 36px;
}

.close:hover {
  cursor: pointer;
}

.title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 2rem;
  font-weight: 1000;
}

.product {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-name {
  padding: 0px 5px;
  font-size: 1.2rem;
  text-align: center;
}

.product-image {
  border: 2px black solid;
  border-radius: 5px;
  width: 95px;
  height: auto;
}

.change {
  padding: 0px 5px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.count {
  font-size: 1.4rem;
  font-weight: 1000;
}

.button {
  background-color: #e6c570;
  color: white;
  font-weight: 1000;
  display: grid;
  place-content: center;
  font-size: 1.3rem;
  border: none;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.button:hover {
  cursor: pointer;
}

.empty {
  padding: 10px 0px;
}

.total {
  font-weight: 1000;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@keyframes slide-in-anim {
  100% {
    right: 0px;
  }
}
