.container {
  position: absolute;
  right: -400px;
  height: 100vh;
  background-color: blue;
  overflow: auto;
  width: 400px;
  animation: slide-in-anim 300ms forwards;
  overflow: hidden;
  z-index: 5;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.24);
}

.product-image {
  width: 100px;
  height: auto;
}

@keyframes slide-in-anim {
  100% {
    right: 0px;
  }
}
