.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
}

ul {
  display: flex;
  gap: 30px;
}

li {
  list-style: none;
}

button {
  width: 80;
  height: 40px;
}
