footer {
  display: grid;
  place-content: center;
  background-color: #e6c570;
  color: white;
  min-height: 6vh;
}

.copyright {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1srem;
}
