.title {
  text-align: center;
}

.product-grid {
  padding: 50px 150px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  place-content: center;
  gap: 20px;
}

.best {
  color: #e2ac22;
  font-style: italic;
  font-weight: 1000;
}

.loading {
  min-height: calc(85vh - 9px);
  padding: 0px 150px;
  display: grid;
  place-content: center;
}
