.product-grid {
  padding: 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  place-content: center;
}

.loading {
  min-height: calc(85vh - 9px);
  padding: 0px 150px;
  display: grid;
  place-content: center;
}
