.container {
  min-height: calc(82vh - 23px);
  padding: 20px 20px;
  display: grid;
  place-content: center;
}

.hero {
  padding: 10px 200px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  border: 3px;
}

.image {
  width: 750px;
  object-fit: cover;
  border-radius: 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headline {
  color: #503f2d;
  font-size: 5.5rem;
  font-weight: 1000;
}

.subheading {
  color: #775e44;
  font-size: 2rem;
  font-weight: 400;
}
